<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details_of_art_page.css') }}">
</head>
<body class="body_css">
{% extends "layout_without_css.html" %}
{% block content %}

<form action="/details_of_art" method="post">

    <div class="container_of_card">
        <div class="card">
            <div class="img-container" style="background-color: rgb(135, 206, 250, 0.75)">
                <img src="/static/uploaded-images/{{requested_image_filename}}" style="max-width:100%; max-height: 50%; top: 25%; bottom: 25%; !important"/>
            </div>
            <div class="card-details">
                <h2>Uploader: {{requested_name}}</h2>
                <h2>By: {{requested_artist_name}}</h2>
                <p>Description: {{requested_message}}</p><br><br>
                <a href="/static/uploaded-images/{{requested_image_filename}}" download="requested_image_filename">
                    Download the image!
                </a>
            </div>
        </div>


</form>

{% endblock %}
</body>
</html>