<!DOCTYPE html>
<html>
<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">


</head>


<body>
<header>


    <div class="container">
        <strong>
            <nav>
                <ul class="menu">

                    <span class="button_cont" align="center"><a class="example_e" href="{{ url_for('home') }}"
                                                                target="_self" rel="nofollow noopener">Home</a></span>

                    <span class="button_cont" align="center"><a class="example_e" href="{{ url_for('search') }}"
                                                                target="_self"
                                                                rel="nofollow noopener">Search!</a></span>


                    <span class="button_cont" align="center"><a class="example_e" href="{{ url_for('about') }}"
                                                                target="_self" rel="nofollow noopener">Upload</a></span>


                    <span class="button_cont" align="center"><a class="example_e" href="{{ url_for('servers') }}"
                                                                target="_self"
                                                                rel="nofollow noopener">Discover more!</a></span>
                </ul>
            </nav>
        </strong>
    </div>
</header>


<footer>

    <p style="">Author: Kuan Yi Wang<br>
        Thanks for voting for me! Follow me on Instagram <a href="https://www.instagram.com/acastajuanjui/">here</a>!!!</p>
</footer>


<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>