<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <form action="/server_uploading_process" role="form" method="post" id="reused_form" enctype="multipart/form-data">

                <label>Server name: </label>
                <input type="text" class="form-control" name="server_name" required maxlength="50">

                <br><br><br>


                <label>Server use: </label>
                <input type="text" class="form-control" name="server_charact" required maxlength="50">


                <br><br><br>

                <label>Server link: </label>
                <input type="text" class="form-control" name="link_to_server" required maxlength="50">

                <br><br><br>


                <label>Server description: </label>
                <input type="text" class="form-control" name="server_description" required maxlength="50">

                <br><br><br>

                <label>Server icon upload:</label>
                <input type="file" class="form-control" name="server_icon_filename" required><br><br>

                <input type="submit" name="my_button" value="Click to upload!">
            </form>


</body>
</html>